<div class="col-sm-4">
    
    <div class="row">
        <div class="col-sm-12">                                        
                <center><img src="IMAGEM" class="img-circle" alt="Image" id="ImagemBalada"></center>                                       
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-12">
            <center><label><b>ABREVIACAO</b></label></center>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
            <center><a href="Chat.php?Usuario=ID"><i class="fa fa-comments-o"></i>Chat</center>
        </div>
        <div class="col-sm-4">
            <center><a href="#" onclick="BuscarPerfil(ID)"><i class="fa fa-user"></i>Perfil</a></center>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>
