<div class="col-sm-6"> 
    <div class="panel panel-info">
        <div class="panel-heading">
        </div>
        <div class="panel-body">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">                                        
                        <img src="IMAGEM" class="img-responsive" alt="Image" id="ImageEntrar">                                        
                    </div>
                </div>
                <center>
                <div class="row">
                    <div class="col-sm-12">
                        <h5>ABREVIACAO</h5>                                       
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-2">
                        <i class="fa fa-group" id="Icon2"></i>PESSOAS
                    </div>
                    <div class="col-sm-3">
                        <a href="#" onclick="BuscarPerfil(IDBALADA)"><i class="fa fa-user" id="Icon2"></i>Perfil                                       
                    </div>
                    <div class="col-sm-6">                                        
                        <button type="button" class="btn btn-primary" id="BtnIngressar"><a href="../Controllers/Gerenciar.php?Controller=EntrarController&Funcao=IngressarBalada&Id=IDBALADA">Ingressar</a> <i class="fa fa-sign-in"></i></button>                                                                               
                    </div>
                </div>
                </center>
            </div>
        </div>
    </div>
</div>